/* body {
    background: black;
} */

.clock {
    position: absolute;
    top: 7%;
    right: 66%;
    transform: translateX(-50%) translateY(-50%);
    color: #1d2838;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 7px;
    z-index: 9999;
}